* {
    margin: 0;
    padding: 0;
}

body {

    font-family: "JetBrains Mono", "Fira Mono", monospace;
    background: #1A1135;
    color: #4BEBCE;
    margin: 0 auto;
    max-width: 960px;
    
}

ul {
    list-style: none;
}

#main-header {

    background: #4BEBCE;
    color: #1A1135;
    display: flex;
    align-items: center;
    padding: 1rem 3rem;

}

#main-header h1 {
    font-size: 1rem;
    max-width: 100%;

}

#main-header a {
    margin-left: auto;
    color: #1A1135;
}

#post-meta {
    font-family: "JetBrains Mono", "Fira Mono", monospace;
    color: #C2B4EA;
    margin-right: 2rem;
}

#post-meta time {
    line-height: 2rem;
}


#post-meta h2, .social-media-links.top h2 {
    
    color: #4BEBCE;
    font-size: 1.125rem;

}

.social-media-links.top a {

    color: #C2B4EA;
    
}

.social-media-links.top a:hover {
    color: white;
}

article {

    font-family: "Baloo Chettan", sans-serif;
    padding: 0 3rem;
    box-sizing: border-box;

}

.social-media-links.top {

    font-family: "JetBrains Mono", "Fira Mono", monospace;
    color: #C2B4EA;
    
}

.social-media-links ul {
    display: flex;
    flex-wrap: wrap;
}

.social-media-links ul li {
    margin-right: 1rem;
    line-height: 2rem;
}


article .title {
    font-size: 1.5rem;
    max-width: 400px;
    margin-top: 1rem;
    word-wrap: break-word;
}

article nav > p {
    margin: 0 1rem;
}

article nav {
    color: #F0F5FC;
    display: grid;
    grid-template-columns: auto 1fr;
    background: #2D2154;
    padding: 1rem 0;
    box-sizing: border-box;
    border-radius: 10px;
    align-items: center;
    margin: 1rem 0;
}

article nav ul {
    flex: 1 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-gap: 10px;
}

article nav li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 0.5rem 0;
    border-radius: 5px;
}

article nav li a p {
    flex: 1 1 auto;
    margin-left: 0.5rem;
}

article nav .active {
    background: #C1B4EA;
    color: #1A1135;
}

article nav a.active:hover {
    background: #C1B4EA;
    
}

article nav a:hover {
    background: #7E73A2;
}

article nav li span {
    flex: 0 0 auto;
    background: #4BEBCE;
    color: #1A1135;
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 4px;
    margin-left: 1rem;
}


article nav li a.active span,
article nav li a:hover span {
    background: #5B459C;
    color: white;
}

article .repo-link {
    font-family: "Jetbrains Mono", "Fira Mono", monospace;
    margin-bottom: 2rem;
    max-width: 90vw;
}

article .repo-link a {

    display: inline-block;
    font-size: 0.875rem;
    position: relative;
    overflow: hidden;
    color: #F0F5FC;
    background: #5B459C;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
    text-decoration: none;
    line-height: 1rem;

}

article .repo-link a p {
    padding: 0 1rem;
    min-width: 200px;
}

article .repo-link a span {
    background: #F0F5FC;
    color: #1A1135;
    padding: 0.75rem 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bubble {
    position: relative;
    background: #5B459C;
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 1rem;
    max-width: 450px;
    padding-left: 2.5rem;
    padding-bottom: 1.5rem;
    margin-bottom: 4.5rem;
    margin-left: 24px;
    color: #F0F5FC;
}

.bubble .avatar {
    position: absolute;
    left: 0;
    bottom: 0;
    background: #F0F5FC;
    width: 80px;
    height: 80px;
    bottom: -40px;
    left: -40px;
    border-radius: 40px;
    overflow: hidden;
    object-fit: contain;
}

#author a {
    color: #C2B4EA;
    text-decoration: none;
    display: block;
    margin: 0.25rem 0 1rem 0;
}

#author a::before {
    content: '\2014 ';
    padding-right: 0.25rem;

}

.avatar img {
    max-width: 100%;
}

.bubble.right {
    padding-left: 1rem;
    padding-right: 2.5rem;
    background: #4BEBCE;
    color: #1A1135;
    margin-right: 24px;
    margin-left: auto;
}

.bubble.right .avatar {
    left: auto;
    right: 0;
    margin:0;
    margin-right: -24px;

}

#conversation {
    align-items: center;
    padding: 2rem 0;
    
}

code {
    font-family: "JetBrains Mono", "Fira Code", monospace;
    font-size: 0.875rem;
}

#meta-and-share {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

.code-display {
    color: #1A1135;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem 0;
    background: #C2B4EA;
    box-shadow: 0px 10px 20px rgba(31, 19, 65, 0.5);

    
}

.code-display pre code {
    
    font-size: 0.6rem;
}

.code-display .traffic-lights {
    display: flex;
    margin-bottom: 1rem;
}

.code-display .traffic-lights span {
    width: 16px;
    height: 16px;
    margin-right: 4px;
    border-radius: 16px;
    background: #1A1135;
}

.social-media-links.bottom {
    margin-bottom: 2rem;
}

.social-media-links.bottom a {

    color: #C2B4EA;
    
}

.social-media-links.bottom header {
    max-width: 600px;
    font-size: 1.5rem;
}

#subscriptions header h2 {
    font-size: 1.25rem;
    line-height: 3rem;
    word-wrap: break-word;
}

.telegram-broadcast {
    padding: 0.5rem 1rem;
    background: #5B459C;
    color: #F0F5FC;
    display: inline-block;
    margin: 0 0.5rem;
    text-decoration: none;
    border-radius: 1rem;
    
}

footer {
    margin: 4rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #C2B4EA;
}

.bubble.code {
    padding: 0;
    padding-bottom: 2rem;
}

.bubble.code .text {
    padding-left: 2rem;
}

.bubble.code pre {

    font-family: "JetBrains Mono", "Fira Mono", monospace;
    display: block;
    background: #F0F5FC;
    padding: 1rem;
    margin-bottom: 1rem;
    color: #1A1135;
    overflow: scroll;
    border-radius: 1rem 1rem 0 0;
    font-size: 0.75rem;
    
}

.bubble.code pre code {
    font-size: 0.75rem;
}

.reaction {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    bottom: 0;
}

.reaction p {
    
    position: relative;
    align-self: flex-end;
    color: #4BEBCE;
    top: 30px;
    font-size: 0.875rem;
}

.reaction .avatar {
    position: relative;
    top: 30px;
    bottom: 0px;
    left: 0px;
    margin: 0 0.5rem;
    width: 60px;
    height: 60px;
}

.bubble .link {
    background: #F0F5FC;
    background: #C2B4EA;
    margin: 0.5rem 0;
    display: inline-block;
    text-decoration: none;
    padding: 0.5rem 2rem;
    border-radius: 4px;

}

#distribution-count {
    font-family: monospace;
    color: #C2B4EA;
}

#acknowledgements {

    color: #C2B4EA;
    margin: 1rem 0;
    
}

#acknowledgements a {
    color: #C2B4EA;
}

#acknowledgements a:hover, #acknowledgements a:active {
    color: white
}
