* {
    margin: 0;
    padding: 0;
}

body {

    font-family: "Work Sans", "Avenir Next", Avenir, sans-serif;
    margin: 0 auto;
    max-width: 960px;
    background: #F8FAFC;
    display: flex;
    flex-flow: column;
    align-items: center;
    color: #3F7ADC;
    padding: 0 2rem;
    box-sizing: border-box;
    min-height: 100vh;

}

#main-header {
    display: flex;
    flex-flow: row;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    padding: 2rem;
    padding-bottom: 0;
    flex-wrap: wrap;
}

#main-header h1 {
    font-weight: 600;
    margin-right: 2rem;
    font-size: 1.45rem;
    font-size: calc(minmax(1vh, 2rem))
}

#main-header h1 strong {
    display: flex;
    font-size: 2rem;
}

#main-header a {
    color: #4650BF;
}

#main-header em {
    font-family: Baskerville, Georgia, serif;
    font-weight: 300;
    font-style: italic;
}

#main-header p {
    font-family: "IBM Plex Mono", monospace;
    font-style: italic;
    font-size: 0.75rem;
    padding: 0.5rem 0;
    max-width: 24rem;
}

#branding {
    display: flex;
    flex-flow: row;
    align-items: center;
}

#main-header img {
    display: block;
    min-width: 64px;
    min-height: 64px;
    margin-right: 1rem;
}

nav {
    font-weight: 500;
    margin: 2rem 0;
    width: 100%;

}

nav ul {

    list-style: none;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(63, 122, 220, 0.2);
    border-radius: 4px;

    
}

nav ul li {
    margin: 0 1rem;
    
}

nav .blog-link {
    color: #3F7ADC;
}

nav .events-link {
    color: #4650BF;
}

nav a {

    text-decoration: none;
    color: white;
    display: flex;
    flex-flow: row;
    align-items: center;

}

nav a img {
    width: 32px;
    height: 32px;
    margin-right: 1rem;
}

#reach-out {

    padding: 1rem 0;
    font-family: "IBM Plex Mono", monospace;
    font-size: 0.875rem;
    padding: 1rem 0;
    max-width: 800px;
    display: flex;
    padding: 1rem;
    box-sizing: border-box;
    border: 1px solid rgba(63, 122, 220, 0.2);
    border-radius: 4px;
    align-items: center;
    
}

#reach-out p {
    margin-right: 1rem;
    line-height: 1.25rem;
}

#reach-out-link {

    background: linear-gradient(180deg, rgba(154, 222, 161, 0.3) 0%, rgba(36, 173, 49, 0.3) 100%), #5BCE66;
    box-shadow: 0px 1px 2px rgba(14, 109, 23, 0.4), inset 0px 1px 1px rgba(255, 255, 255, 0.45), inset 0px 0px 0px 1px #3A9B43;
    border-radius: 8px 8px 8px 0;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.08);
    text-decoration: none;
    padding: 1rem;
    color: white;
    display: inline-block;
    min-width: 100px;
    font-weight: bold;
    text-align: center;
    
}

#reach-out-link:hover {
    background: linear-gradient(180deg, rgba(154, 222, 161, 0.3) 0%, rgba(36, 173, 49, 0.3) 100%), #5BCE66;
}

#reach-out-link:active {
background: linear-gradient(180deg, rgba(36, 173, 49, 0.3) 0%, rgba(154, 222, 161, 0.3) 100%), #5BCE66;
box-shadow: 0px 1px 1px #FFFFFF, inset 0px 1px 2px rgba(0, 0, 0, 0.4);
text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
    
}


#entries {
    display: flex;
    flex-flow: column;
    margin: 2rem 0;
}

.entry {
    display: flex;
    align-items: center;
    padding: 1rem 0rem;
    text-decoration: none;
    color: #244180;
}

.coming-soon {
    opacity: 0.5;
}

.entry img {

    background: #244180;
    display: block;
    width: 80px;
    height: 80px;
    flex: 0 0 auto;
    margin-right: 2rem;
    
}

.entry-details {
    font-family: "IBM Plex Mono", monospace;
    display: flex;
    flex-flow: column;
    margin: 1rem 0;
}

.entry-details h2 {
    font-family: "Work Sans", "Avenir Next", Avenir, sans-serif;
    text-decoration: underline;
    padding: 0.25rem 0 0.5rem 0;
}

.entry-details .small-text {
    font-size: 0.875rem;
}

.entry-metadata {
    display: flex;
    font-size: 0.75rem;
    opacity: 0.75;
}

.entry-metadata time:after {

    content: "|";
    margin: 0 0.25rem;
    
}

footer {
    display: flex;
    flex: 0 0 auto;
    padding: 2rem;
    background: #244180;
    justify-content: space-between;
    align-items: center;
    color: white;
    box-sizing: border-box;
    width: 100%;
    margin-top: auto;
    flex-wrap: wrap-reverse;
    
}

footer img {
    
    display: block;
    width: 48px;
    height: 48px;
    margin-right: 1rem;
}

footer ul {
    list-style: none;
    display: flex;
    min-width: 300px;
    padding: 1rem 0;
}

footer li {
    display: flex;
}

footer a {
    color: white;
    padding: 1rem 0;
    text-decoration: none;
    margin-right: 2rem;
}

footer #logo-with-copyright {

    display: flex;
    flex-flow: row;
    align-items: center;
    
}

footer li:last-child a {
    margin: 0;
}

