* {
    margin: 0;
    padding: 0;
}

body {
    background: #06092D;
    font-family: "Work Sans", Avenir, Helvetica, sans-serif;
    padding: 0 2rem;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

#main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FABC02;
    color: #131639;
    padding: 1rem 2rem;
}

#main-header h1 {
    font-size: 1.25rem;
}

article {

    background: #131639;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    max-width: 1080px;
    padding: 2rem;
    box-sizing: border-box;
    margin: 2rem auto;
    color: #FABC02;

}

article > header {

    font-size: 1.5rem;
    max-width: 400px;
    padding-bottom: 2rem;
    
}

article header h3 {
    font-weight: normal;
}

article header p {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

#lang-chooser {
    color: #DFDFDF;
    background: 2B2D4D;
}

#lang-chooser p {
    margin-bottom: 0.5rem;
}

#lang-chooser ul {
    list-style: none;
}

#lang-chooser ul {
    display: flex;
    align-items: center;
}

#lang-chooser ul a {
    padding: 1rem 2rem;
    margin: 0.5rem;
    display: flex;
    align-items: center;
    border: 2px solid #FABC02CC;
 border-radius: 5px;
 box-sizing: border-box;
 height: 4rem;
}

#lang-chooser .active {


background: #FABC02;
color: #06092D;

}

article section {
    margin: 1rem 0;
}

article section img {
    max-width: 100%;
    border-radius: 8px;
}

article section em {
    font-size: 1.5rem;
    font-style: normal;
    margin: 0.5rem 0 1rem 0;
    display: block;
    line-height: 2rem;
}

article section figure {
    display: flex;
    flex-flow: column;
    align-items: center;
}

article section figure figcaption {
    color: #DFDFDF;
    font-size: 0.875rem;
    opacity: 0.8;
    padding: 0.5rem 0;
}

article section header h2 {
    font-weight: normal;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

article section p {

    color: #DFDFDF;
    line-height: 1.5rem;
    max-width: 800px;
    padding: 0.5rem 0;
    font-size: 1.125rem;
    line-height: 1.625rem;
    
}
